extends _index.pug

block state
  - const title = 'Key'
  - const scripts = ['index.min.js']

block script
  script
    | const source = document.querySelector('textarea');
    | const map = new K(source);
    |
    | map.commands.bold = function() {
    |     console.info('Bold command goes here…');
    |     return false; // Trigger `e.preventDefault()`
    | };
    |
    | map.keys['Control-b'] = 'bold';
    |
    | source.addEventListener('blur', e => map.pull());
    | source.addEventListener('input', e => map.pull());
    |
    | source.addEventListener('keydown', e => {
    |     map.push(e.key);
    |     let command = map.test();
    |     if (command) {
    |         let value = map.fire(command);
    |         if (false === value) {
    |             e.preventDefault();
    |         } else if (null === value) {
    |             console.error('Unknown command:', command);
    |         }
    |     } else {
    |         console.info('Current key:', e.key);
    |     }
    | });
    |
    | source.addEventListener('keyup', e => map.pull(e.key));

block content
  main
    p: textarea