extends ../_index.pug

block state
  - const title = 'Key'
  - const scripts = ['../index.min.js']

block script
  script
    | const map = new Key(window);
    |
    | let waitingForTheNextCommand = false;
    |
    | map.commands.reset = function () {
    |     waitingForTheNextCommand = false;
    |     return false;
    | };
    |
    | map.commands.window = function () {
    |     console.info('Waiting for the next command…');
    |     waitingForTheNextCommand = 'window';
    |     return false; // Trigger `e.preventDefault()`
    | };
    |
    | map.commands.windowDown = function () {
    |     if ('window' === waitingForTheNextCommand) {
    |         alert('Down window!');
    |         waitingForTheNextCommand = false;
    |         return false;
    |     }
    | };
    |
    | map.commands.windowLeft = function () {
    |     if ('window' === waitingForTheNextCommand) {
    |         alert('Left window!');
    |         waitingForTheNextCommand = false;
    |         return false;
    |     }
    | };
    |
    | map.commands.windowNext = function () {
    |     if ('window' === waitingForTheNextCommand) {
    |         alert('Next window!');
    |         waitingForTheNextCommand = false;
    |         return false;
    |     }
    | };
    |
    | map.commands.windowRight = function () {
    |     if ('window' === waitingForTheNextCommand) {
    |         alert('Right window!');
    |         waitingForTheNextCommand = false;
    |         return false;
    |     }
    | };
    |
    | map.commands.windowUp = function () {
    |     if ('window' === waitingForTheNextCommand) {
    |         alert('Up window!');
    |         waitingForTheNextCommand = false;
    |         return false;
    |     }
    | };
    |
    | map.keys['ArrowDown'] = 'windowDown';
    | map.keys['ArrowLeft'] = 'windowLeft';
    | map.keys['ArrowRight'] = 'windowRight';
    | map.keys['ArrowUp'] = 'windowUp';
    | map.keys['Control-Alt-w'] = 'window';
    | map.keys['Escape'] = 'reset';
    | map.keys['h'] = 'windowLeft';
    | map.keys['j'] = 'windowDown';
    | map.keys['k'] = 'windowUp';
    | map.keys['l'] = 'windowRight';
    | map.keys['w'] = 'windowNext';
    |
    | window.addEventListener('blur', e => map.pull());
    | window.addEventListener('input', e => map.pull());
    |
    | let debounce;
    | window.addEventListener('keydown', e => {
    |     map.push(e.key);
    |     let command = map.command();
    |     if (command) {
    |         let value = map.fire(command);
    |         if (false === value) {
    |             e.preventDefault();
    |         } else if (null === value) {
    |             console.error('Unknown command:', command);
    |             waitingForTheNextCommand = false;
    |         }
    |     } else {
    |         waitingForTheNextCommand = false;
    |         console.info('Current key:', e.key);
    |     }
    |     debounce && clearTimeout(debounce);
    |     debounce = setTimeout(() => map.pull(), 1000);
    | });
    |
    | window.addEventListener('keyup', e => map.pull(e.key));

block content
  main
    p Press #[kbd Control-Alt-w] then #[kbd h] or #[kbd j] or #[kbd k] or #[kbd l] or #[kbd w].