extends _index.pug

block state
  - const scripts = ['index.min.js']
  - const title = 'Key'

block script
  script
    | const self = document.querySelector('textarea');
    | const map = new Key(self);
    |
    | map.commands.bold = function () {
    |     console.info('Bold command goes here…');
    |     return false; // Trigger `e.preventDefault()`
    | };
    |
    | map.keys['Control-b'] = 'bold';
    |
    | self.addEventListener('blur', e => map.pull());
    | self.addEventListener('input', e => e.data && map.pull(e.data));
    |
    | let wait;
    | self.addEventListener('keydown', e => {
    |     e.key && map.push(e.key);
    |     let command = map.command();
    |     if (command) {
    |         let value = map.fire(command);
    |         if (false === value) {
    |             e.preventDefault();
    |         } else if (null === value) {
    |             console.error('Unknown command:', command);
    |         }
    |     } else {
    |         console.info('Current key:', e.key);
    |     }
    |     wait && clearTimeout(wait);
    |     wait = setTimeout(() => map.pull(), 1000);
    | });
    |
    | self.addEventListener('keyup', e => e.key && map.pull(e.key));

block content
  main
    p: textarea